@import url(http://fonts.googleapis.com/css?family=Rancho)
@import url(http://fonts.googleapis.com/css?family=Muli)

@import 'vendors/bootstrap.css'
@import 'vendors/bootstrap-responsive.css'
@import 'vendors/font-awesome.css'

@import 'nib'


metric
  width: 350px
  margin: 2px
  height: 220px
  float: left